.btn-class {
    border-radius: 8px;
    padding: 5px;
    background-color: #e61610;
}

.gv-class {
    margin-top: 15px;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
}

.bell {
    padding: 10px;
}

.div-class {
    position: relative;
    margin: 10px;
}

.tb-class {
    border-radius: 8px;
    padding: 5px;
}

.lb-class {
    width: auto;
    height: 240px;
}