.btn-class {
    border-radius: 8px;
    padding: 5px;
    background-color: #e61610;
}

.gv-class {
    margin-top: 15px;
}

.user {
    position: absolute;
    top: 0;
    right: 0;
}

.bell {
    padding: 10px;
}

.settings {
    position: absolute;
    top: 0;
    right: 50px;
}

.div-class {
    position: relative;
    margin: 10px;
}

.tb-class {
    border-radius: 8px;
    padding: 5px;
}

.lb-class {
    width: auto;
    height: 240px;
}

.centered-div {
    margin: auto;
    width: 50%;
}

.input {
    display: block;
    margin: auto;
    width: 50%;
}

.login-btn {
    border-radius: 8px;
    background-color: #ff5d55;
}

.repeater-div {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    border: 1px solid;
}

.user:hover .dropdown-content {
    display: block;
}