.btn-class {
    border-radius: 8px;
    padding: 5px;
    background-color: #e61610;
    color: white;
}

.gv-class {
    margin-top: 15px;
}

.user {
    position: absolute;
    top: 0;
    right: 10%;
}

.bell {
    position: absolute;
    padding: 10px;
    left: 50%;
}

.settings {
    position: absolute;
    top: 0;
    right: 20%;
}

.div-class {
    position: relative;
    margin: 10px;
}

.tb-class {
    border-radius: 8px;
    padding: 5px;
}

.lb-class {
    width: auto;
    height: 550px;
}

.centered-div {
    margin: auto;
    width: 14%;
}

.input {
    display: block;
    margin: auto;
    width: 50%;
}

.login-btn {
    border-radius: 8px;
    background-color: #ff5d55;
}

.repeater-div {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    border: 1px solid;
}

.user:hover .dropdown-content {
    display: block;
}

.settings:hover .dropdown-content {
    display: block;
}

.bell:hover .dropdown-content {
    display: block;
}

.bi-btn {
    position: absolute;
    top: 1%;
    right: 0;
}